@import "../../assets/css/variables.scss";

.quote {
	width: 480px;
	min-height: 270px;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;

	display: grid;
	grid-template-rows: 1fr 50px;
	text-align: left;

	box-shadow: $box-shadow-1;
	transition: $transition;

	&:hover {
		box-shadow: $box-shadow-2;
	}

	.quote-text {
		@include Merriweather-Sans-18;
	}

	.quote-by {
		@include Merriweather-Sans-24-Bold;
	}
}
