@import "../../assets/css/variables.scss";

.btn {
	width: 150px;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: $box-shadow-1;
	transition: $transition;
	cursor: pointer;
	@include Merriweather-Sans-24-Bold;
	text-decoration: none;

	&:hover {
		box-shadow: $box-shadow-2;
		transform: rotate(5deg);
	}

	&.btn-primary {
		background-color: $primary;
		color: white;
	}

	&.btn-secondary {
		background-color: $secondary;
		color: white;
	}

	&.btn-red {
		background-color: $red;
		color: white;
	}

	&.btn-blue {
		background-color: $blue;
		color: white;
	}

	&.btn-green {
		background-color: $green;
		color: white;
	}

	&.btn-yellow {
		background-color: $yellow;
		color: $primary;
	}
}
