// Color Pallete
$primary: #263238;
$primary-light: #3f5b62;
$primary-dark: #000a12;
$secondary: #00796b;
$secondary-light: #48a999;
$secondary-dark: #004c40;

// Other colors
$red: #dd2c00;
$blue: #283593;
$green: #2e7d32;
$yellow: #ffd600;

// Mixins
@mixin Luckiest-Guy-36-Bold {
	font: {
		size: 36px;
		weight: bold;
		color: $primary;
		family: "Luckiest Guy", cursive;
	}
}

@mixin Merriweather-Sans-24-Bold {
	font: {
		size: 18px;
		weight: bold;
		color: $primary;
		family: "Merriweather Sans", sans-serif;
	}
}

@mixin Merriweather-Sans-24 {
	font: {
		size: 24px;
		color: $primary;
		family: "Merriweather Sans", sans-serif;
	}
}

@mixin Merriweather-Sans-18 {
	font: {
		size: 18px;
		color: $primary;
		family: "Merriweather Sans", sans-serif;
	}
}

@mixin Merriweather-Sans-18-Bold {
	font: {
		size: 18px;
		weight: bold;
		color: $primary;
		family: "Merriweather Sans", sans-serif;
	}
}

// Other
$box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1),
	0.28s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slow: 0.5s cubic-bezier(0.4, 0, 0.2, 1),
	0.5s cubic-bezier(0.4, 0, 0.2, 1);
