@import "../../assets/css/variables.scss";

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px;

	.brand-name {
		@include Luckiest-Guy-36-Bold;
		margin: 0;
		cursor: pointer;
	}
	.buttons {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 50px;
	}
}
