@import "../../assets/css/variables.scss";

.footer {
	width: 100%;
	height: 100px;
	background-color: $primary;
	@include Luckiest-Guy-36-Bold;
	color: $secondary-light;

	display: flex;
	align-items: center;
	justify-content: center;
	// position: absolute;
	// bottom: 0;
}
